<!DOCTYPE html>
<html lang="en-US">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Angular Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
    <!-- Bootstrap Library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Js Files -->
    <script src="js/app.js"></script>
    <script src="js/coupons.js"></script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="css/coupons.css">

<body>

<div ng-app="fellaFeeds" ng-controller="fellaController">
    <div class="container-fluid wallet-point-container">
        <div class="wallet-point">
            <div class="wallet-col">
                <div class="wallet-coin-img"></div>
            </div>
            <div class="wallet-col">
                <p>Wallet Points</p>
                <h1>{{storeDetails[0].totalpoint}}</h1>
            </div>
        </div>
    </div>
    <div class="tabs-container">
        <div class="tab-shadow">
            <div class="tab" ng-click="showHome()">
                <div class="tab-icon"></div>
                <h4>Offers</h4>
            </div>
            <div class="tab" ng-click="showHistory()">
                <div class="tab-icon"></div>
                <h4>History</h4>
            </div>
            <div class="tab active">
                <div class="tab-icon"></div>
                <h4>Coupons</h4>
            </div>
        </div>
    </div>

<div class="container-fluid content">

        <div class="cards row" ng-repeat="coupon in couponData">
            <div class="col-sm-6">
                <img class="product-img">
                <h2 class="title">{{coupon.storeName}}</h2>
                <h5 class="time">{{coupon.created}}</h5>
            </div>
            <div class="col-sm-6">
                    <!-- <p class="store-point-text">Bought 4 items</p> -->
                <h1 class="store-point">-{{coupon.points}}</h1>
            </div>
            <div class="reedem-btn-container">
                <button class="redeem-btn" ng-class="coupon.redeemed?'redeemed':'open'">{{coupon.redeemed ? 'REDEEMED' : 'OPEN'}}</button>
            </div>
        </div>
    
    </div>

</div>

</body>
</html>